name: build-and-test

on: push

jobs:
  buildandtest:
    name: Build and test the program
    
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      
      - name: Build and test
        run: |
          cd lab7
          make test 
          ./test
          
      - name: Codecov
        run: cd lab7 && export CODECOV_TOKEN="3566d5ef-4069-4465-8b2f-a9bf875bffcb" && bash <(curl -s https://codecov.io/bash)
